# dependencies
node_modules/

# build output
dist/
apps/web/dist/

# env & secrets
.env
.env.local
.dev.vars

# cloudflare
.wrangler/

# logs / misc
*.log
.DS_Store
coverage/

# TypeScript build info
*.tsbuildinfo
